*{
    box-sizing: border-box;
}

body{ 
    margin: 0;
    
}
nav{
    background-color: rgb(255, 255, 255);
    padding: 5px; 
    margin-left: 2%;  
}
.title{
    display: inline-block;
    font-family: "Dancing Script", cursive;
}
.link-container{
    float: right;
    position: relative;
    top: 20px;
}
.link{
    color:rgb(11, 10, 10);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 17px;
    transition: 0.2s;
}
.link:hover{
    color: aqua
    
}
.btn-link{
    background-color: #52CBDC;
    padding: 10px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border-radius: 15px;
    color: aliceblue;
    transition: 0.2s;
    margin-right: 2%;
}
.btn-link:hover{
    background-color: #52CBDC;  
}
form{
    margin-left: 0px;
    padding: 0 10px;
    height: 300px;
    width: 600px;
    background-color: none;
    
}
.container{
    margin-left: 28% ;
    padding: 7px;
    height: 100%;
    width: 670px;
    background-color: white;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    border-radius: 20px;
}
.container header{
    text-align: center;
    font-size: 38px;
    padding-top: 15px;
    font-weight: bold;
}
.container p{
    text-align: center;
}

.container form .fields{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 60px;
}

form .fields .main-user-info{
    display: flex;
    width: calc(100% / 4 - -50px);
    flex-direction: column;
    margin-left: 70px;
}

.main-user-info input{
    border-radius: 20px;
    height: 30px;
    outline: none;
    border: 0px;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    color: black;

}

.main-user-info label{
    font-size: 15px;

}
.upload-box{
    font-size: 11.9px;
    border-radius: 20px;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    width: 200px;
    outline: black;
    height: 20px;
}
::-webkit-file-upload-button{
    color: rgb(255, 255, 255);
    background-color: #52CBDC;
    padding: 8px 3px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: .2s;
    border: 0;

}
::-webkit-file-upload-button:hover{
    color: black;
}
.quote h6{
    text-align: center;
    font-size: 10px;
}
.signnnn{
    color: aliceblue;
    margin-left: 46%;
    padding: 2%;
    border-radius: 20px;
    background-color: #52CBDC;
    border: solid 2px;
}
.signnnn:hover{
    color: black;
}

footer{

    background-color: #52CBDC;
    margin-top: 2%;
    height: 100px; 
    bottom: 0;
    width: 100%;
}
.footer-col .container1{
    display: flex;
}
.daett{
    color: white;

}
.visiting{
    margin-left: 200px;
    color: white;
}
.Contactt{
    margin-left: 200px;
    color: white;
}
.followw{
    margin-left: 200px;
    color: white;
}











